.sidebar{
  padding:1em;
  font-size:110%;

  .sidebar-header{
    margin:-1.1em -1.1em 0 -1.1em;
    color:#fff;
    padding:1em;
  }

  ul{
    li{margin:0 -1.1em;padding:1em;cursor:pointer;}
  }
}
.sidebar.sidebar-fixed{height:100vh;overflow-y:scroll;margin-top:-1em;}
