.table { display: table;width:100%}
.tbody{display:table-row-group}
.thead{display:table-header-group;}
.tr{display:table-row;}
.tr:last-child{border-bottom:0;}
.th{display:table-cell;border-bottom:solid 2px #ededed;font-weight:bold}
.td{display:table-cell;padding:0.5em;}

.table.table-striped{
  .tbody .tr:nth-child(even){background:#fefefe}
}