input[type=text],
input[type=email],
input[type=phone],
textarea,
select{
  width:100%;
  border-radius:2px;
  border:solid 1px #ccc;
  font-size:100%;
  padding:0.5em;

  :focus{
    border:none;
  }
}

label{
  font-weight:bold;
  display:block;
  margin-bottom:0.5em;
}

label.label-inline{display:inline-block;}

label.required:after{
    content:"*";
    font-size:1.3em;
    color:$red;
    line-height:1.3em;
}

.invalid{
  background:$red;
  color:#fff;
}

.field-group{
  @extend .row;

  .field-group-heading{
    display:block;
    width:100%;
    border-bottom:solid 2px #ccc;
    margin-bottom:1em;
    padding-bottom:0.5em;
  }

  .field-group-description{
    font-size:115%;
  }
}

/** Checkboxes **/
input[type=checkbox]{font-size:2em;cursor:pointer}