/** Header **/
$top_bar_bg: #efefef;

/** Main Navigation **/
$main_nav_hover_bg: #ccc;
$main_nav_dd_bg: #ccc;
$main_nav_a_color:#333;

/** Footer **/
$footer_bg: #232323;
$footer_link_color:#efefef;

/** Generic Use **/
$red: #A8201A;