@import 'resets';
@import 'functions';

.left{float:left}
.right{float:right}

.no-gutters{padding:0}

.fixed-bottom{position:fixed;width:100%;bottom:0;}

.hidden{display:none !important}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */