/** Grid Mixins **/
@mixin width($multiplier){
	width: ($column_width * $multiplier) * 1%;
}

@mixin offset($multiplier){
	margin-left: ($column_width * $multiplier) * 1%;
}

@mixin push($multiplier){
	margin-right: ($column_width * $multiplier) * 1%;
}