<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="wrapper">
    <div class="container span-10">
        <div class="header">
            <div class="row">
                <div class="column offset-4 span-8 navbar">
                    <ul>
                        <li><a class="active" href="">Work</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="column span-12">
                    <h1 class="welcome">Hi, I'm Kevin.</h1>
                    <h2 class="sub-heading">Full-stack developer straight outta Pittsburgh</h2>
                </div>
            </div>
        </div>

    </div>
    <div class="container span-10">
        <div class="main-section">

            {% for post in site.posts %}
            <!-- Begin Post -->
            <div class="row">
                <div class="post clearfix">
                    <div class="column span-6">
                        <img class="responsive" src="assets/pieces/steel_city_collectibles.png"/>
                    </div>
                    <div class="column span-6">
                        <h3 class="yellow">{{post.title}}</h3>
                        <p>{{post.content}}</p>

                        <div class="post-nav clearfix">
                            <a href="https://www.steelcitycollectibles.com" class="btn large visit">Visit Site</a>
                            <a href="#" class="btn large more">Read More</a>
                        </div>

                        <div class="post-tags">
                            <ul>
                                <li>Drupal</li>
                                <li>Sass</li>
                                <li>Project Management</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Post -->


            </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>
</html>
